.akcija{
    max-width: 1171px;
    max-height: 165px;
    margin: auto;
    margin-bottom: 72px;
    background: #1C62CD;

    &-flex {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &-img {
        display: flex;
        margin-right: 46px;
    }

    &-content {
        width: 250px;
        font-weight: bold;
        font-size: 36px;
        line-height: 36px;
        color: #FFFFFF;
    }

    &-btn {
        width: 284px;
        height: 57px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #FFFFFF;
        font-weight: 500;
        font-size: 24px;
        line-height: 50px;
        cursor: pointer;
    }

    &-adaptiv {
        display: none;
        max-width: 1171px;
        max-height: 165px;
        margin: auto;
        margin-bottom: 72px;
        background: #1C62CD;   
        border-color: #1C62CD;
        
        &-content {
            width: 367px;
            display: flex;
            justify-content: center;
            margin: auto;
            padding-top: 10px;
            margin-bottom: 8px;
            font-weight: bold;
            font-size: 29px;
            line-height: 27px;
            color: #FFFFFF;    
            text-align: center;
        }
        
        &-btn {
            width: 200px;
            height: 50px;
            margin-top: 15px;
            margin-bottom: 12px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #FFFFFF;
            border-color: #1C62CD;
            font-weight: 500;
            font-size: 18px;
            cursor: pointer;    
        }

        &-img {
            margin: auto;

            &-size {
                width: 100px;
                height: 80px;
            }
        }

        &-flex {
            display: flex;
            justify-content: center;
        }
    }
}