.akcija{
    max-width: 1171px;
    height: 165px;
    margin: auto;
    margin-bottom: 72px;
    background: #1C62CD;

    &-flex {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &-img {
        display: flex;
        margin-right: 46px;
    }

    &-content {
        width: 250px;
        font-weight: bold;
        font-size: 36px;
        line-height: 36px;
        color: #FFFFFF;
    }

    &-btn {
        width: 284px;
        height: 57px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #FFFFFF;
        font-weight: 500;
        font-size: 24px;
        line-height: 50px;
        cursor: pointer;
    }
}