.header {
    max-width: 1171px;
    padding-top: 25px;
    margin: auto;

    &-menu {
        display: flex;
        justify-content: space-between;

        &-nav {
            display: flex;
            justify-content: space-between;
            width: 405px;
            gap: 10%;
            padding-top: 27px;

            &-decoration {
                font-weight: 700;
                font-size: 20px;
                line-height: 24px;
                text-align: center;

                & a:hover {
                    color: blue;
                    text-decoration: underline;
                    transition: all .9s;

                }
            }
        }

        &-profile {
            display: flex;
            gap: 10px;
            padding-top: 29px;
            position: relative;

                    
            &-hover:hover svg path {
                fill: blue;
            }

            &-one {
                width: 20px;
                height: 20px;
                background:  rgba(46, 6, 132, 0.57);
                border-radius: 50%;
                position: absolute;
                margin-left: 78px;
                margin-top: 9px;
                display: flex;
                justify-content: center;
                align-items: center;

                &-text {
                    color: white;
                    font-size: 14px;
                    line-height: 12px;
                }
            }
        }

    }

    &-logo {
        margin-bottom: 21px;
        display: flex;
        justify-content: center;

        &-content {
            display: none;
            padding-left: 78px;
            padding-top: 29px;
            cursor: pointer;
        }
    }

    &-logo:hover svg path {
        fill: blue;
        stroke: rgb(40, 20, 82);
    }

    &-navigation {
        display: flex;
        justify-content: space-between;
        width: 33%;
    }

    &-map {
        padding-top: 17px;
        display: flex;
        gap: 3px;

        &-nav {
            height: 30px;
        }

        &-content {
            padding-top: 11px;
            font-weight: 700;
            font-size: 20px;
            line-height: 24px;

            & a:hover {
                color: blue;
                text-decoration: underline;
            }
        }
    }

    &-map:hover svg path {
        fill: blue;
    }
}

