@media (max-width: 800px) {
    .header {
        padding-top: 0;
    }

    .menu-products {
        margin-bottom: 45px;
    }
      
    .header-map {
      display: none;
    }
    
    .header-navigation {
        width: auto;
        margin-bottom: 28px;
    }

    #reklama-content {
        height: 300px;
    }

    #reklama-slider {
        margin-bottom: 40px;
    }

    .reklama-card {
        margin: auto;
    }

    .search-box {
      width: 750px;
    }

    .search-content {
      justify-content: space-between;
      align-items: center;
      width: 750px;
    }

    .search-content-subtitle-name {
      width: 290px;
      position: relative;

      &::after { 
        content: "";
        position: absolute;
        width: 0;
        left: 50%;
        transform: translateX(-50%);
        transition: 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
        display: block;
        height: 5px;
        margin-top: 3px;
        background: linear-gradient(to left, #160254, #5cb1f2 100%);
        border-radius: 50%;
      }
      
      &:hover { font-weight: bold; }
      &:hover::after { width: 100%; }
    }
    
    .search-content-subtitle {
      display: flex;
      width: 200px;
      padding-left: 10px;
      justify-content: space-between;
      align-items: center;
      position: relative;
  
      &::after { 
        content: "";
        position: absolute;
        width: 0;
        left: 50%;
        transform: translateX(-50%);
        transition: 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
        display: block;
        height: 4px;
        margin-top: 35px;
        background: linear-gradient(to left, #160254, #5cb1f2 100%);
        border-radius: 50%;
      }
      
      &:hover { font-weight: bold; }
      &:hover::after { width: 100%; }
    }

    ul.popularity-products-display {
      width: 100%;
    }

    .popularity-next {
      display: none;
    }
  
    div.popularity-cards {
      display: flex;
      justify-content: center;
      gap: 30px;
    }
}

@media (max-width: 750px) {

    label.menu-btn {
        display: block;
        padding-top: 5px;
        margin: auto;
        left: 2px;
        }

    .menu-products-content {
    display: none;
    }

    .search-box {
      width: 750px;
    }

    .search-content {
      justify-content: space-between;
      align-items: center;
      width: 750px;
    }

    .search-content-subtitle-name {
      width: 290px;
      position: relative;

      &::after { 
        content: "";
        position: absolute;
        width: 0;
        left: 50%;
        transform: translateX(-50%);
        transition: 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
        display: block;
        height: 5px;
        margin-top: 3px;
        background: linear-gradient(to left, #160254, #5cb1f2 100%);
        border-radius: 50%;
      }
      
      &:hover { font-weight: bold; }
      &:hover::after { width: 100%; }
    }
    
    .search-content-subtitle {
      display: flex;
      width: 200px;
      padding-left: 10px;
      justify-content: space-between;
      align-items: center;
      position: relative;
  
      &::after { 
        content: "";
        position: absolute;
        width: 0;
        left: 50%;
        transform: translateX(-50%);
        transition: 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
        display: block;
        height: 4px;
        margin-top: 35px;
        background: linear-gradient(to left, #160254, #5cb1f2 100%);
        border-radius: 50%;
      }
      
      &:hover { font-weight: bold; }
      &:hover::after { width: 100%; }
    }

    div.search-cards {
      display: flex;
      justify-content: center;
    }
}

@media (max-width: 500px) {

    .header-menu-nav {
        display: none;
      }

    .header-logo {
      margin-left: 35px;
    }

  
    .search-box {
      width: 500px;
    }

    .search-content {
      justify-content: space-between;
      align-items: center;
      width: 500px;
    }

    .search-content-subtitle-name {
      display: none;
    }
    
    .search-content-subtitle {
      display: flex;
      width: 200px;
      padding-left: 10px;
      justify-content: space-between;
      align-items: center;
      position: relative;
  
      &::after { 
        content: "";
        position: absolute;
        width: 0;
        left: 50%;
        transform: translateX(-50%);
        transition: 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
        display: block;
        height: 4px;
        margin-top: 35px;
        background: linear-gradient(to left, #160254, #5cb1f2 100%);
        border-radius: 50%;
      }
      
      &:hover { font-weight: bold; }
      &:hover::after { width: 100%; }
    }

    .search-cards {
      display: flex;
      justify-content: center;
    }  

    ul.popularity-products-display {
      display: none;
    }

    div.popularity-slider-none {
      display: flex;
    }

    div.popularity-cards {
      display: none;
    }
}

  
@media (max-width: 414px) {
    .header {
        padding-top: 0;
    }

    .menu-products {
        margin-bottom: 25px;
    }
    .menu-products-content {
      display: none;
    }
  
    label.menu-btn {
      display: block;
      padding-top: 29px;
    }
  
    .header-logo {
      display: none;
  
      &-content {
        display: block
      }
    }
  
    .header-map {
      display: none;
    }
  
    .header-menu-nav {
      display: none;
    }
  
    .header-navigation {
      margin-bottom: 28px;
    }

    #reklama-content {
        height: 229px;
    }

    .reklama-card {
        margin: auto;
    }
    
  .search-box {
    width: 414px;
  }

  .search-content-subtitle-name {
      display: none;
  }

  .search-content-subtitle {
    display: flex;
    width: 180px;
    padding-left: 10px;
    justify-content: center;
    align-items: center;
    position: relative;

    &::after { 
      content: "";
      position: absolute;
      width: 0;
      left: 50%;
      transform: translateX(-50%);
      transition: 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
      display: block;
      height: 4px;
      margin-top: 35px;
      background: linear-gradient(to left, #160254, #5cb1f2 100%);
      border-radius: 50%;
    }
    
    &:hover { font-weight: bold; }
    &:hover::after { width: 100%; }
  }

  div.popularity-padding {
    display: flex;
    justify-content: center;
    padding: 0;
  }
}

@media (max-width: 375px) {
    .header {
        padding-top: 0;
    }

    .menu-products {
        margin-bottom: 25px;
    }
  
    label.menu-btn {
      display: block;
      padding-top: 29px;
    }
  
    .header-logo {
      display: none;
  
      &-content {
        display: block
      }
    }
    
    .header-menu-nav {
      display: none;
    }
  
    .header-navigation {
      margin-bottom: 28px;
    }

    #reklama-content {
        height: 229px;
    }

    #reklama-slider {
        margin-bottom: 40px;

        &-content {
            width: 375px;
        }
    }
}
