%menu-style {
  display: flex;
  padding: 6px 24px;
  color: #333;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
}

#menu-toggle {
    opacity: 0;
    }


.menu-btn {
    display: none;
    align-items: center; 
    position: absolute;
    top: 20px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 3;

    & > span,
    & > span::before,
    & > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #616161;
    }

    & > span::before {
        content: '';
        top: -8px;
    }

    & > span::after {
        content: '';
        top: 8px;
    }
}

.menu-box {
  display: block;
  position: fixed;
  visibility: hidden;
  z-index: 2;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 20px 0;
  list-style: none;
  text-align: center;
  background-color: #ECEFF1;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
}

.menu-item {
  @extend %menu-style;
  margin-left: 9px;

  &-basket {
    @extend %menu-style;
  }

  &-no-icons {
    @extend %menu-style;
    margin-left: 37px;

    &:hover {
      background-color: #CFD8DC;
      font-weight: bold;
    }
  }

  &-map {
    @extend %menu-style;
    width: 190px;
    font-weight: bold;
    margin-top: 65px;
    padding-left: 60px;
    display: flex;
    justify-content: flex-start;
  }

  &-icon {
        display: flex;

        &-flex {
            display: flex;
            align-items: center;
            padding-left: 10px;
        }

        &:hover {
            background-color: #CFD8DC;
            font-weight: bold;
          }
    }

  &:hover {
    background-color: #CFD8DC;
    font-weight: bold;
  }
}


#menu-toggle:checked ~ .menu-btn > span {
    transform: rotate(45deg);
  }
  #menu-toggle:checked ~ .menu-btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu-toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu-toggle:checked ~ .menu-box {
    visibility: visible;
    left: 0;
  }

  .menu-btn > span,
  .menu-btn > span::before,
  .menu-btn > span::after {
    transition-duration: .25s;
  }
  .menu-box {
    transition-duration: .25s;
  }
  .menu-item {
    transition-duration: .25s;
  }

  .menu-products {
    display: flex;
    background: #F0F0F4;
    max-width: 1171px;
    min-height: 53px;
    margin-bottom: 81px;

    &-display {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }

    &-content {
      font-size: 20px;
      line-height: 24px;

      & a {
        display: inline-block;
        text-decoration: none;
        text-transform: capitalize;
        position: relative;
        transition: all 0.4s ease;
      }
      
      & a::after { 
        content: "";
        position: absolute;
        width: 0;
        left: 50%;
        transform: translateX(-50%);
        transition: 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
        display: block;
        height: 4px;
        margin-top: 10px;
        background: linear-gradient(to left, #160254, #5cb1f2 100%);
        border-radius: 50%;
      }
      
      & a:hover { font-weight: bold; }
      & a:hover::after { width: 100%; }
    }
  }