.search {
    max-width: 1171px;
    margin: auto;

    &-box {
        display: flex;
        height: 47px;   
        margin-bottom: 25px; 
    }

    &-content {
        display: flex;
        width: 56%;
        justify-content: space-between;
        align-items: center;

        &-title {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 204px;
            height: 47px;

            &-name {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 290px;
                height: 47px;    

                &:hover {
                    background: #F0F0F4;
                    border-radius: 5px;
                    font-weight: bold;
                }    
            }

            &:hover {
                background: #F0F0F4;
                border-radius: 5px;
                font-weight: bold;
            }
        }

        &-subtitle {
            font-size: 20px;
            line-height: 24px;

            &-name {
                font-size: 20px;
                line-height: 24px;      
            }
        }
    }

    &-input {
        display: flex;
        margin-bottom: 80px;

        &-content {
            width: 100%;
            height: 50px; 
            display: flex;
            justify-content: flex-end;
            padding-left: 20px;
            font-size: 16px;
            line-height: 19px;
            color: #656464;
        }
    }

    &-btn {
        width: 145px;
        height: 50px;
        background: #1C62CD;
        border-color: #1C62CD;
        cursor: pointer;
        border-radius: 0, 3px;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.12em;
        text-transform: uppercase;
        color: #FFFFFF;
    }

    &-cards {
        max-width: 1171px;
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        margin-bottom: 80px;
    }

    &-card {
        width: 370px;
        height: 129px;
        display: flex;
        justify-content: space-between;
        border: 1px solid #CDCDCD;
        border-radius: 3px;
        padding: 20px;


        &-content {
            display: flex;
            flex-direction: column;
            gap: 52px;
            justify-content: center;

            &-title {
                font-family: 'Barlow';
                font-weight: bold;
                font-size: 23px;
                line-height: 28px;
            }

            &-subtitle {
                font-size: 14px;
                line-height: 17px;
                color: #C4C4C4;

                &-see {
                    width: 230px;
                    height: 61px;
                    font-size: 20px;
                    line-height: 24px;
                    text-align: center;
                    color: #2F3035;
                    cursor: pointer;
                }
            }
        }
    }

    &-img {
        width: 160px;
        height: 100px;
    }
}