* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-width: 375px;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style-type: none;
}

ol, ul {
    margin: 0;
    padding: 0;
}

.wrapper {
    max-width: 1920px;
    text-align: center;
    font-family: 'SF Pro Display';
}